<div style="background-color: #F8F8F8; min-height: 91vh;">
    <div style="padding-top: 10px;"></div>

    <div class="child" style="margin-top: 10px;" *ngFor="let car of cars">
        <div nz-row>
            <div nz-col nzSpan="8">
                <img alt="profile" class="profile" style="height: 130px; width: 200px; border-radius: 10px;" [src]="car.processedImg">
            </div>

            <div nz-col nzSpan="16">
                <h2 style="cursor: pointer; color: #108ee9;">
                    {{ brandName }} - {{ car.name }}
                </h2>
                
                <hr>
                <h5>Price : <b>$ {{ car.price }}</b> <br> 
                    Color : <b> {{ car.color }}</b> <br>
                    Transmission : <b>{{ transmissionName }}</b> <br> 
                    Year : <b>{{ car.year | date: 'yyyy' }}</b>
                </h5>
                <hr>
                <p>{{ car.description }}</p>
                <hr>
                <div style="float: right;">
                    <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
                            routerLink="/admin/update-car/{{car.id}}">Update
                    </button>
                    <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
                            (click)="delete(car.id)" nzDanger>Delete
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
