<nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzType="Working...">
    <nz-table #basicTable [nzData]="transmissions" [nzPageSize]="20" [nzShowPagination]="'false'"><br>
        <thead>
            <tr>
                <th style="font-weight: bolder; color: #003973;">ID</th>
                <th style="font-weight: bolder; color: #003973;">NAME</th>
                <th style="font-weight: bolder; color: #003973;">DESCRIPTIONS</th>
                <th style="font-weight: bolder; color: #003973;">ACTIONS</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transmission of basicTable.data">
                <td>{{ transmission.id }}</td>
                <td>{{ transmission.name }}</td>
                <td>{{ transmission.description }}</td>
                
                <td>
                    <strong>
                        <button nzSize="small" nz-button nzType="primary">Update</button>
                        <button class="action-button" nzSize="small" nz-button nzType="primary"nzDanger>Delete</button>
                    </strong>
                </td>

            </tr>
        </tbody>
    </nz-table>
</nz-spin>
